<!DOCTYPE html>
<html>
    <body>
        <main>
            <div style="align-items: center;">
            <form action="">
            <p>Dear, <%=name%> </p>
            <p>  
                <br>
                On behalf of the organizing committee of <b>INDIAN TENNIS CRICKET FEDERATION</b>, I would like to extend a warm welcome to you and express our gratitude for your interest in becoming an associate member. We have received your application and are thrilled to have you as a potential participant in this thrilling venture.
                <br>
                <br>
                The response to our league has been overwhelming, with numerous passionate individuals like yourself showing a keen interest in being a part of this extraordinary journey. We are excited to inform you that your application has been shortlisted for the next round of the selection process.
                <br>
                <br>
                To ensure utmost transparency and fairness, we have enlisted the services of a reputable 3rd party auditing firm to oversee the selection process. Their expertise will help us evaluate all the shortlisted candidates based on various criteria, including skill, experience, and overall suitability.
                <br>
                <br>
                The next round will involve a comprehensive assessment of each candidate, where the auditing firm will carefully review and evaluate your application, credentials, and any additional information you have provided. Please be assured that your application will be treated with the utmost confidentiality and professionalism.
                <br>
                <br>
                At the conclusion of the selection process, we will notify you of the outcome. If you successfully progress to the next stage, you will receive detailed information about our on boarding process.   
                <br>
                <br>
                Once again, we thank you for your interest and commend your enthusiasm for this new cricket league. We wish you the best of luck in the upcoming evaluation, and we hope to see you as an integral part of this thrilling endeavor.
                <br>
                <br>
                If you have any questions or require any further assistance, please do not hesitate to reach out to us. We are here to support you throughout this process.
                <br>
                <br>
                <br>
                Best regards,
                <br>
                <br>
                O’Neill Noah <br>
                    CEO
                </p>
            </form>
        </div>
    </main>
    </body>
</html>

<p>

</p> 