<!DOCTYPE html>
<html>
    <body>
        <div style="align-items: center;">
            <form action="">
            <p>Dear, <%=name%> </p>
            <p>  
                <br>
                We are thrilled to confirm your PROFESSIONAL MEMBERSHIP into the <b>INDIAN TENNIS CRICKET FEDERATION</b> (“ITCF”). Your journey in tennis ball cricketing glory starts, right here, right now! 
                <br>
                <br>
                As PRO member of the league you will have the opportunity to be a part of the auction pool. The auction pool will be similar to those held by various, highly successful premier leagues in the world. The auction pool will reward players who have consistently performed well and showcase their value and performance to the world. The auction pool will also have all the features such as base price, bidding process etc.
                <br>
                <br>
                As a PRO member you will also get many other benefits such as access to the video recordings, personal analysis and statistics. The premium members will be able to assess their own performance as well the performance of the other players. This will ensure that the players have plenty of time to analyze and prepare strategies against other players and teams. The players will also be able to access the recordings to strengthen their own shortcomings, in order to give their very best. 
                <br>
                <br>
                Pro membership also comes with multiple other benefits that will be disclosed in a short time. ITCF cannot wait to give you the appropriate platform to showcase your cricketing talents to the rest of the world!
                <br>
                In case of any queries, please feel free to contact our passionate back end staff. They will guide you and clear all your questions. Reach out to them at: <br>
                a. Contact Number: <br>
                b. Email Address:  <br>
                <br>
                We would again thank you for placing your trust in us!
                <br>
                <br>
                With warm regards and best wishes
                <br>
                <br>
                <br>
                O’Neill Noah <br>
                    CEO
                </p>
            </form>
        </div>

    </body>
</html>

<p>

</p> 