<!DOCTYPE html>
<html>
    <body>
        <div style="align-items: center;">
            <p>Dear, <%=name%> </p>
            <p>  
                <br>
                On behalf of the entire organizing committee, I would like to extend a warm welcome to you as a newly registered team in our highly 
                anticipated <b>INDIAN TENNIS CRICKET FEDERATION (ITCF)</b>. We are thrilled to have you on board and cannot wait to witness your skills
                and sportsmanship on the cricket field.
                Tennis cricket is a unique and exhilarating form of the game that combines fast-paced action every time.We promise you an incredible 
                filled with camaraderie,competition, and, most importantly,sheer enjoyment. We believe that this league will provide you and your
                team with countless memorable moments and opportunities for personal and collective growth.
                <br>
                <br>
                As participants in this league, you are joining a passionate community of cricket enthusiasts who share the same love for the game. We 
                encourage you to embrace the spirit of fair play,respect, and sportsmanship both on and off the field. This league is not just about 
                winning matches but also about building lasting friendships and fostering a sense of unity within the cricketing fraternity.
                We have put together a dedicated backend team that will be at your service.Feel free to reach out to them at <b>1234567891</b>and query@itcf.co.in  
                whenever you require their support.We would also like to remind you to familiarize yourselves with the league rules and regulations,as they are 
                designed to ensure a level playing field and fair competition. 
                <br>
                <br>
                Finally, we would like to extend our gratitude for your registration in the <b>INDIAN TENNIS CRICKET FEDERATION</b>.Your enthusiasm and commitment 
                contribute significantly to the success of this endeavour.We sincerely hope that this journey with League will be an unforgettable experience for  
                you and your team,filled with incredible moments, new friendships, and a true sense of accomplishment
                
                
                Once again, welcome to the <b>INDIAN TENNIS CRICKET FEDERATION!</b>  <br>
                We look forward to an action-packed season and wish you the very best for your upcoming matches.<br>
                <br>
                <br>
                <br>
                <br>
                Warm regards,
                <br>
                O’Neill Noah
                CEO
                </p>
        </div>

    </body>
</html>

<p>

</p> 