<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation Form</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="form-gap"></div>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                        <style>
                            div {
                                margin-bottom: 50px;
                            }
                                label {
                                
                                text-align: center;
                                margin-top: 20px;
                            }
                            button {
                            text-align: center;
                            margin-top: 30px;
                            }
                        </style>
                        <body>
                            <div class="form-group"></div>
                            <h1 style="text-align: center;">WELCOME TO THE ITCF FAMILY</h1>
                            <form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 1rem auto;">
                            <label for="Name">Name:</label>
                            <input class="w3-input" type="Name" placeholder="Name" id="Name" name="Name" required />
                            <label for="Email">Email:</label>
                            <input class="w3-input" type="Email" placeholder="Email" id="Email" name="Email" required />
                            <label for="Phone No:">Phone No:</label>
                            <input class="w3-input" type="Phone No:" placeholder="Phone Number" id="Phone No:" name="Phone" required />
                            <label for="Password">Password</label>
                            <input class="w3-input" type="Password" placeholder="Password" id="Password" name="Password" required />
                            <button  class="w3-btn w3-blue w3-round" style="grid-column: span 2;" type="submit">Submit</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>