<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <title>Reset-UID</title>
    </head>
    <div class="form-gap"></div>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                        <h3 style="text-align:center;">Reset UID <%= email %> </h3>
                        <style>
                            div {
                                margin-bottom: 10px;
                            }
                            label {
                                
                                width: 140px;
                                text-align: center;
                            }
                        </style>
                        <form action="" method="post">
                            <div class="input-center"> 
                            <input type="submit" class="btn btn-primary" value="Reset" />
                                
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>